<script>
    import draw from "./draw";
    export let introduction;
    export let svg;
    export let size = 100;

    let visible = false;
    
    const { x, y } = introduction.coordinates;
    const { id, width, height, viewBox, path } = svg; 
    const { d, fill, stroke, strokeWidth, strokeDasharray, length } = path;

    const sizeRatio = height / width;
    const sizedWidth = size;
    const sizedHeight = size * sizeRatio;
</script>

<button
    on:click={() => { visible = !visible; }}
    style:left={`${x}%`}
    style:top={`${y}%`}
    style:background={"#cccccc22"}>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        {id}
        width={sizedWidth}
        height={sizedHeight} {viewBox}>
        {#if visible}
            <path transition:draw
                {d} {fill} {stroke}
                stroke-width={strokeWidth}
                stroke-dasharray={strokeDasharray}
                stroke-dashoffset={length} />
        {/if}
    </svg>
</button>

<style>
    button {
        position: absolute;
        list-style: none;
        font-size: 2rem;
        font-family: monospace;
        border: none;
        padding: 1rem;
        padding-top: 1.2rem;
    }
</style>