<script>
    export let name;
    export let color;
    export let coordinates;
    const { x, y } = coordinates;
</script>

<li
    style:color={color}
    style:left={`${x}%`}
    style:top={`${y}%`}>
    {name}
</li>

<style>
    li {
        display: block;
        position: absolute;
        list-style: none;
        font-size: 2rem;
        font-family: monospace;
    }
</style>